<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation"></nav>
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="http://localhost:3000/articles">Wikinimous</a>
      </div>
      <div class="navbar-right">
        <a class="navbar-brand" href="http://localhost:3000/articles/new">New Article</a>
      </div>

    </div>
    <%= yield %>
  </body>
</html>
